// el-table

//设置 el-table 表头背景颜色
.table_custom_style.el-table /deep/ .el-table__header-wrapper thead > tr > th{
  background-color: #79BBFF;
  color: #fff;
}
//设置 el-table hover 背景色
// .table_custom_style.el-table /deep/ .el-table__row:hover{
  
// }

// el-pagination

.pagination_custom_style {
  margin-top: 10px;
  text-align: right;
}
.pagination_custom_style /deep/ .number {
  border-radius: 4px;
  margin: 0px 2px;
  padding: 0px;
  min-width: 30px;
  background-color: #efefef;
  border: 1px solid #ccc;
}
.pagination_custom_style /deep/ .number.active{
  background-color: #D9ECFF;
  border: 1px solid #79BBFF;
}
.pagination_custom_style /deep/ .number:hover{
  background-color: #ECF5FF;
}


// others

.marginl_10{
  margin-left: 10px;
}
.marginr_10{
  margin-right: 10px;
}